# Winning Jeopardy

Imagine that I want to compete on Jeopardy, and I am looking for any way to win. In this project, I'll work with a dataset of Jeopardy questions to figure out some patterns in the questions that could help me win.

In [374]:
import pandas as pd
import string

jeopardy = pd.read_csv('jeopardy.csv')
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [375]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [376]:
jeopardy.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

## Normalizing Text

Before I can start doing analysis on the Jeopardy questions, I need to normalize all of the text columns (the `Question` and `Answer` columns).

In [377]:
import re

def clean_str(text):
    text = text.lower()
    text = re.sub("[^A-Za-z0-9\s]", "", text)
    text = re.sub("\s+", " ", text)
    return text

In [378]:
jeopardy['clean_question'] = jeopardy['Question'].apply(clean_str)

In [379]:
jeopardy['clean_answer'] = jeopardy['Answer'].apply(clean_str)

## Normalizing Columns

Now that I've normalized the text columns, I need to normalize the `Value` column and the `Air Date` column.

In [380]:
def dollar_to_int(value):
    value = value.translate(str.maketrans('', '', string.punctuation))
    if value.isdigit() == True:
        value = int(value)
    else: value = 0
    
    return value

In [381]:
jeopardy['clean_value'] = jeopardy['Value'].apply(dollar_to_int)

In [382]:
jeopardy['Air Date'] = pd.to_datetime(jeopardy['Air Date'])

## Answers in Questions

In order to figure out whether to study past questions, study general knowledge, or not study it all, it would be helpful to figure out two things:

- How often the answer can be used for a question.
- How often questions are repeated.

I can answer the second question by seeing how often complex words (> 6 characters) reoccur. I can answer the first question by seeing how many times words in the answer also occur in the question.

In [383]:
def answer_in_question(row):
    
    split_answer = row['clean_answer'].split()
    split_question = row['clean_question'].split()
    match_count = 0
    
    if 'the' in split_answer:
        split_answer.remove('the')
    
    if len(split_answer) == 0:
        return 0
    
    for word in split_answer:
        if word in split_question:
            match_count += 1
    
    return match_count/len(split_answer)

In [384]:
jeopardy['answer_in_question'] = jeopardy.apply(answer_in_question, axis=1)

In [385]:
jeopardy['answer_in_question'].value_counts()

0.000000    17475
0.500000     1448
0.333333      494
0.250000      155
1.000000      124
0.666667      104
0.200000       68
0.166667       27
0.400000       26
0.142857       21
0.750000       17
0.600000        9
0.125000        9
0.285714        7
0.800000        2
0.428571        2
0.181818        2
0.571429        2
0.300000        2
0.111111        2
0.350000        1
0.444444        1
0.875000        1
Name: answer_in_question, dtype: int64

In [386]:
jeopardy['answer_in_question'].mean()

0.05900196524977763

## Recycled Questions

Let's say I want to investigate how often new questions are repeats of older ones. I can't completely answer this, because I only have about 10% of the full Jeopardy question dataset, but I can investigate it at least.

To do this, I can:

- Sort `jeopardy` in order of ascending air date.
- Maintain a set called `terms_used` that will be empty initially.
- Iterate through each row of `jeopardy`.
- Split `clean_question` into words, remove any word shorter than `6` characters, and check if each word occurs in `terms_used`.
    - If it does, increment a counter.
    - Add each word to `terms_used`.

This allows me to check if the terms in questions have been used previously or not. Only looking at words with six or more characters enables me to filter out words like `the` and `than`, which are commonly used, but don't tell me a lot about a question.

In [387]:
question_overlap = []
terms_used = set()

jeopardy.sort_values('Air Date',inplace=True, ascending=True)

In [388]:
for index, row in jeopardy.iterrows():
    
    split_question = row['clean_question'].split()
    
    for word in split_question[:]:
        if len(word) < 6:
            split_question.remove(word)
    
    match_count = 0
    
    for word in split_question:
        if word in terms_used:
            match_count += 1
        terms_used.add(word)
    
    if len(split_question)>0:
        match_count /= len(split_question)
    question_overlap.append(match_count)

In [389]:
jeopardy['question_overlap'] = question_overlap

In [390]:
jeopardy['question_overlap'].mean()

0.6894031359073245

## Low Value vs High Value Questions

There is about `70%` overlap between terms in new questions and terms in old questions. This only looks at a small set of questions, and it doesn't look at phrases, it looks at single terms. This makes it relatively insignificant, but it does mean that it's worth looking more into the recycling of questions.

Let's say I only want to study questions that pertain to high value questions instead of low value questions. This will help me earn more money when you're on Jeopardy.

I can actually figure out which terms correspond to high-value questions using a chi-squared test. 

I'll compute the chi squared value based on the expected counts and the observed counts for high and low value questions. I can then find the words with the biggest differences in usage between high and low value questions, by selecting the words with the highest associated chi-squared values. Doing this for all of the words would take a very long time, so I'll just do it for a small sample now.

In [336]:
def high_or_low(row):
    value = 0
    if row['clean_value'] > 800:
        value = 1

    return value

In [337]:
jeopardy['high_value'] = jeopardy.apply(high_or_low,axis=1)

In [338]:
jeopardy

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question,question_overlap,high_value
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0,0.000000,0.000000,0
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,$200,Notorious labor leader missing since '75,Jimmy Hoffa,notorious labor leader missing since 75,jimmy hoffa,200,0.000000,0.000000,0
19302,10,1984-09-21,Double Jeopardy!,1789,$200,"Washington proclaimed Nov. 26, 1789 this first...",Thanksgiving,washington proclaimed nov 26 1789 this first n...,thanksgiving,200,0.000000,0.000000,0
19303,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$200,Both Ferde Grofe' & the Colorado River dug thi...,the Grand Canyon,both ferde grofe the colorado river dug this n...,the grand canyon,200,0.000000,0.500000,0
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,$200,"Depending on the book, he could be a ""Jones"", ...",Tom,depending on the book he could be a jones a sa...,tom,200,0.000000,0.000000,0
19305,10,1984-09-21,Double Jeopardy!,HOMONYMS,$200,Hindu hierarchy or a play's actors,a caste (cast),hindu hierarchy or a plays actors,a caste cast,200,0.333333,0.000000,0
19306,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$200,"Last season, this series mourned the loss of S...",Hill Street Blues,last season this series mourned the loss of sg...,hill street blues,200,0.000000,0.000000,0
19307,10,1984-09-21,Double Jeopardy!,1789,$400,Why April 28th was a bad day for Capt. Bligh,the day of the mutiny on the Bounty,why april 28th was a bad day for capt bligh,the day of the mutiny on the bounty,400,0.142857,0.000000,0
19308,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$400,Seaside resort that has a monopoly on East Coa...,"Atlantic City, New Jersey",seaside resort that has a monopoly on east coa...,atlantic city new jersey,400,0.000000,0.000000,0
19309,10,1984-09-21,Double Jeopardy!,LITERATURE,$400,"He wrote ""The 3 Musketeers""; his son wrote ""Ca...",(Alexandre) Dumas,he wrote the 3 musketeers his son wrote camille,alexandre dumas,400,0.000000,0.000000,0
19310,10,1984-09-21,Double Jeopardy!,HOMONYMS,$400,Near or a purchase,by (buy),near or a purchase,by buy,400,0.000000,0.000000,0
19311,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$400,He went from the Ponderosa to the prairie,Michael Landon,he went from the ponderosa to the prairie,michael landon,400,0.000000,0.000000,0
19312,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$600,"Since '27, stars have made good impressions at...",Mann's Chinese Theatre,since 27 stars have made good impressions at t...,manns chinese theatre,600,0.000000,0.000000,0
19313,10,1984-09-21,Double Jeopardy!,LITERATURE,$600,Where you can't go again in Thomas Wolfe title,home,where you cant go again in thomas wolfe title,home,600,0.000000,0.000000,0
19314,10,1984-09-21,Double Jeopardy!,HOMONYMS,$600,"A fixed look, or Ginger Rogers' partner",a stare (Astaire),a fixed look or ginger rogers partner,a stare astaire,600,0.333333,0.000000,0
19315,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$600,"In 1970 he had a ""Goodtime Hour""",Glen Campbell,in 1970 he had a goodtime hour,glen campbell,600,0.000000,0.000000,0
19316,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$800,A thrilling destination for tight-rope walkers...,Niagara Falls,a thrilling destination for tightrope walkers ...,niagara falls,800,0.000000,0.000000,0
19317,10,1984-09-21,Double Jeopardy!,LITERATURE,$800,Irving's bird-like hero chased by the Headless...,Ichabod Crane,irvings birdlike hero chased by the headless h...,ichabod crane,800,0.000000,0.000000,0
19318,10,1984-09-21,Double Jeopardy!,HOMONYMS,"$1,000",Didn't see the fog,missed (mist),didnt see the fog,missed mist,1000,0.000000,0.000000,1
19319,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$800,"Jackie Gleason show that rejected titles ""The ...",The Honeymooners,jackie gleason show that rejected titles the l...,the honeymooners,800,0.000000,0.000000,0
19320,10,1984-09-21,Double Jeopardy!,1789,$1000,"Now totaling over $1 trillion, it began 11 day...",the national debt,now totaling over 1 trillion it began 11 days ...,the national debt,1000,0.000000,0.000000,1
19321,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$1000,Tourists know this Catholic mission as Davy Cr...,the Alamo,tourists know this catholic mission as davy cr...,the alamo,1000,0.000000,0.000000,1
19322,10,1984-09-21,Double Jeopardy!,LITERATURE,$1000,Shaw's scorched saint,St. Joan of Arc,shaws scorched saint,st joan of arc,1000,0.000000,0.000000,1
19323,10,1984-09-21,Double Jeopardy!,HOMONYMS,$1000,Where ships dock or what a jury consists of,piers (peers),where ships dock or what a jury consists of,piers peers,1000,0.000000,0.000000,1
19300,10,1984-09-21,Jeopardy!,SPORTS,$500,"Boxer whose life was portrayed in ""Somebody Up...",Rocky Graziano,boxer whose life was portrayed in somebody up ...,rocky graziano,500,0.000000,0.000000,0
19324,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$1000,"In court, he'd always make mincemeat of Hamilt...",Perry Mason,in court hed always make mincemeat of hamilton...,perry mason,1000,0.000000,0.000000,1
19299,10,1984-09-21,Jeopardy!,"""B"" MOVIES",$500,Sensitive Mart Crowley treatment of gays march...,The Boys in the Band,sensitive mart crowley treatment of gays march...,the boys in the band,500,0.000000,0.000000,0
19297,10,1984-09-21,Jeopardy!,"""JACKS"" OF ALL TRADES",$500,"2nd generation pop singer, he's sung on every ...",Jack Jones,2nd generation pop singer hes sung on every lo...,jack jones,500,0.000000,0.000000,0
19274,10,1984-09-21,Jeopardy!,GEOGRAPHY,$100,Formerly Formosa,Taiwan,formerly formosa,taiwan,100,0.000000,0.000000,0
19275,10,1984-09-21,Jeopardy!,DOUBLE TALK,$100,"Not a Hawaiian cow, but a dress worn by Hawaii...",a muumuu,not a hawaiian cow but a dress worn by hawaiia...,a muumuu,100,0.500000,0.500000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1973,6294,2012-01-19,Double Jeopardy!,4 N,$2000,"Inopportune or untimely, like the title ""woman...",inconvenient,inopportune or untimely like the title woman i...,inconvenient,2000,0.000000,0.333333,1
1974,6294,2012-01-19,Final Jeopardy!,SPORTS & THE MOVIES,None,"When asked for a home address in ""The Blues Br...",Wrigley Field,when asked for a home address in the blues bro...,wrigley field,0,0.000000,1.000000,0
1959,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,$1200,"Relative to the size of the bird, this flightl...",the kiwi,relative to the size of the bird this flightle...,the kiwi,1200,0.000000,1.000000,1
1958,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$1200,"Today, this Japanese car company makes the gal...",Mitsubishi,today this japanese car company makes the gala...,mitsubishi,1200,0.000000,0.800000,1
1957,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$1200,A New York steak is also known as this alliter...,strip steak,a new york steak is also known as this alliter...,strip steak,1200,0.500000,1.000000,1
1956,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,"$1,800",This political party founded around 1789 stood...,the Federalists,this political party founded around 1789 stood...,the federalists,1800,0.000000,1.000000,1
1934,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$800,In 1851 this company started using a logo with...,Proctor & Gamble,in 1851 this company started using a logo with...,proctor gamble,800,0.000000,1.000000,0
1935,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,$800,"While ""January brings the snow"", ""may brings f...",lambs,while january brings the snow may brings flock...,lambs,800,0.000000,0.571429,0
1936,6294,2012-01-19,Jeopardy!,INLETS,$800,"This Chilean city whose name means ""valley of ...",Valparaiso,this chilean city whose name means valley of p...,valparaiso,800,0.000000,1.000000,0
1937,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$800,"In the '90s it was ""Enter Sandman"" with this g...",Metallica,in the 90s it was enter sandman with this group,metallica,800,0.000000,1.000000,0
1938,6294,2012-01-19,Jeopardy!,FOREIGN,$800,Tredici is Italian for this symbol of bad luck,thirteen,tredici is italian for this symbol of bad luck,thirteen,800,0.000000,0.666667,0
1939,6294,2012-01-19,Jeopardy!,"A SHAKESPEARE PLAY, FOR OPENERS",$1000,This play opens most dramatically with thunder...,The Tempest,this play opens most dramatically with thunder...,the tempest,1000,0.000000,0.666667,1
1940,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$1000,In 1927 this brand name first appeared on a Se...,Kenmore,in 1927 this brand name first appeared on a se...,kenmore,1000,0.000000,1.000000,1
1941,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,$1000,"""Here we go round"" this bush ""on a cold and fr...",the mulberry bush,here we go round this bush on a cold and frost...,the mulberry bush,1000,0.500000,0.500000,1
1942,6294,2012-01-19,Jeopardy!,INLETS,$1000,North Carolina's Albemarle Sound is no deeper ...,the Outer Banks,north carolinas albemarle sound is no deeper t...,the outer banks,1000,0.000000,0.833333,1
1943,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$1000,"In the 2000s ""Makes Me Wonder"" got this group ...",Maroon 5,in the 2000s makes me wonder got this group no...,maroon 5,1000,0.000000,1.000000,1
1932,6294,2012-01-19,Jeopardy!,FOREIGN,$600,"If Popeye spoke Hebrew he'd ask for tered, this",spinach,if popeye spoke hebrew hed ask for tered this,spinach,600,0.000000,1.000000,0
1944,6294,2012-01-19,Jeopardy!,FOREIGN,$1000,"In German, berg is this topographical feature ...",a mountain,in german berg is this topographical feature o...,a mountain,1000,0.500000,0.666667,1
1946,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$400,"If you can't stand the heat, there's always th...",steak tartare,if you cant stand the heat theres always this ...,steak tartare,400,0.000000,0.833333,0
1947,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$400,The British A22 Mark IV tank carried a 75-mill...,Churchill,the british a22 mark iv tank carried a 75milli...,churchill,400,0.000000,0.750000,0
1948,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,$400,"Able to lift 850 times its own weight, the str...",beetle,able to lift 850 times its own weight the stro...,beetle,400,0.000000,0.800000,0
1949,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$400,Blair Underwood as President Elias Martinez,The Event,blair underwood as president elias martinez,the event,400,0.000000,1.000000,0
1950,6294,2012-01-19,Double Jeopardy!,4 N,$400,"Number of ""beers on the wall"" at the beginning...",ninety-nine,number of beers on the wall at the beginning o...,ninetynine,400,0.000000,1.000000,0
1951,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$800,In 1951 he told a joint session of congress th...,(Douglas) McArthur,in 1951 he told a joint session of congress th...,douglas mcarthur,800,0.000000,1.000000,0
1952,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$800,A New England boiled dinner is traditionally m...,corned beef,a new england boiled dinner is traditionally m...,corned beef,800,0.000000,1.000000,0
1953,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$800,"Ships in the U.S. Navy's Casablanca class of ""...",aircraft carriers,ships in the us navys casablanca class of esco...,aircraft carriers,800,0.000000,1.000000,0
1954,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$800,Dennis Haysbert & D.B. Woodside as David & Way...,24,dennis haysbert db woodside as david wayne pal...,24,800,0.000000,0.600000,0
1955,6294,2012-01-19,Double Jeopardy!,4 N,$800,"""U"" know it means not deliberate; I'm sorry, t...",unintentional,u know it means not deliberate im sorry that s...,unintentional,800,0.000000,1.000000,0
1945,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$400,In December 1974 this former New York governor...,Rockefeller,in december 1974 this former new york governor...,rockefeller,400,0.000000,1.000000,0
1922,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$400,In 1997 Tyco International moved to this U.K. ...,Bermuda,in 1997 tyco international moved to this uk te...,bermuda,400,0.000000,1.000000,0

In [339]:
def high_low_count(word):
    low_count = 0
    high_count = 0
    
    for index, row in jeopardy.iterrows():
    
        split_question = row['clean_question'].split()

        if word in split_question:
            if row['high_value'] == 1:
                high_count += 1
            else: low_count+= 1
    
    return high_count,low_count

In [340]:
import random

comparison_terms = []
comparison_terms.append(random.sample(terms_used,10))

observed_expected = []

for word in comparison_terms[0]:
    observed_expected.append(high_low_count(word))

In [341]:
observed_expected

[(0, 1),
 (0, 2),
 (0, 1),
 (0, 1),
 (1, 1),
 (0, 5),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0)]

## Applying the Chi-Squared Test

Now that I've found the observed counts for a few terms, I can compute the expected counts and the chi-squared value.

In [351]:
from scipy.stats import chisquare

high_value_count = len(jeopardy[jeopardy['high_value'] == 1])
low_value_count = len(jeopardy[jeopardy['high_value'] == 0])

chi_squared = []

for item in observed_expected:
    total = item[0] + item[1]
    total_prop = total/len(jeopardy)
    chi_squared.append(chisquare(item,f_exp=[(total_prop*high_value_count),(total_prop*low_value_count)]))

In [352]:
chi_squared

[Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.803925692253768, pvalue=0.3699222378079571),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.4448774816612795, pvalue=0.5047776487545996),
 Power_divergenceResult(statistic=2.00981423063442, pvalue=0.1562844540498966),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047)]

# Chi-squared results

None of the terms had a significant difference in usage between high value and low value rows. Additionally, the frequencies were all lower than 5, so the chi-squared test isn't as valid. It would be better to run this test with only terms that have higher frequencies